SERVER_PORT=8080
DB_PATH=
UPLOADS_DIR=
JWT_SECRET="..."
REGISTRATION_CODE=...

# Telegram Feedback Bot
TG_BOT_TOKEN=...
TG_CHAT_ID=...

RP_ID=wegas-finance.vercel.app
APP_URL=https://wegas-finance.vercel.app