# =========================
# ОС та Редактори коду
# =========================
.DS_Store
.vscode/
.idea/
*.suo
*.sw?

# =========================
# Go
# =========================
# Скомпільовані бінарні файли
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Файли профілювання та покриття тестами
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.cov
coverage.out

# Залежності (зняти коментар, якщо використовується vendor)
# vendor/

# =========================
# Змінні оточення (СЕКРЕТИ)
# =========================
.env
.env.local
.env.*.local
*.pem


# =========================
# Бази даних
# =========================
/backend
finance.db
